body {
  font-family: Arial, Helvetica, sans-serif;
}

.navigation-bar {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.upper-nav-bar {
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: rgb(39, 39, 39);
  justify-content: flex-start;
  align-items: center;
  height: 10rem;
  width: 1920px;
}

.upper-nav-item {
  background-color: rgb(39, 39, 39);
  color: white;
  margin: 40px 20px;
  padding-top: 40px;
  height: fit-content;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  text-decoration: none;
}

.upper-nav-item a:hover {
  background-color: rgb(95, 95, 95);
  color: gold;
  text-decoration: none;
}

.upper-nav-item a:active {
  background-color: rgb(151, 151, 151);
  color: goldenrod;
}

.upper-nav-item > img {
  width: 110px;
  height: 110px;
  border: 3px solid silver;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
  padding: 0;
}

.upper-nav-item a {
  font-size: 16px;
  color:white;
  border: none;
  border-radius: 15px;
  padding: 20px;
  transition: 0.3s ease-in-out;
}

.upper-nav-item input {
  width: 85rem;
  height: 30px;
  border: none;
  border-bottom: 2px solid gold;
  border-radius: 15px;
  padding-left: 20px;
  color: black;
}

.upper-nav-bar input::placeholder {
  font-size: larger;
}


/* Dropdown Button */
.dropbtn {
  background-color: rgb(39, 39, 39);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(95, 95, 95);
}

.dropbtn:active {
  background-color: rgb(151, 151, 151);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(65, 64, 64);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}






/* Dropdown Button */
.product-dropbtn {
  /* background-color: rgb(39, 39, 39);
  color: white;
  padding: 17px; */
  font-size: 16px;
  /* border: none;
  cursor: pointer; */
  /* font-weight: bold;
  border-radius: 20px; */
  transition: 0.3s ease-in-out;
}

/* Dropdown button on hover & focus */
.product-dropbtn:hover, .product-dropbtn:focus {
  /* background-color: rgb(67, 66, 66); */
  color: gold;
}

.product-dropbtn:active {
  /* background-color: rgb(115, 115, 115); */
  color: goldenrod;
}

/* The container <div> - needed to position the dropdown content */
.product-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-product {
  display: none;
  position: absolute;
  background-color: rgb(65, 64, 64);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 10px;
}

/* Links inside the dropdown */
.dropdown-product a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: 0.2s ease-in-out;
}

/* Change color of dropdown links on hover */
.dropdown-product a:hover {background-color: #4a4a4a;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.lower-nav-bar {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  background-color: rgb(39, 39, 39);
  height: 14rem;
  width: 1920px;
}

.lower-nav-item {
  text-align: center;
  text-decoration: none;
  background-color: rgb(39, 39, 39);
  color: white;
  padding: 10px;
  margin-top: 20px;
  height: 50px;
  width: 200px;
  border: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  align-content: center;
  border-radius: 15px;
}

.lower-nav-item:hover {
  background-color: rgb(95, 95, 95);
}

.lower-nav-item:active {
  background-color: rgb(151, 151, 151);
}

#myDropdown-product a {
  color: rgb(252, 252, 252);
}

#myDropdown-product a:hover {
  color: gold;
  text-decoration: none;
}

#myDropdown-product a:active {
  color: goldenrod;
}

.lower-nav-item a {
  color: white;
  font-style: normal;
  font-size: 16px;
}

.lower-nav-item a:hover {
  color: gold;
  text-decoration: none;
}

.lower-nav-item a:active {
  color: goldenrod;
}


.carousel-inner img {
    width: 100vw;
    height: 100vh; /* Cho ảnh full màn hình theo chiều cao */
    object-fit: cover; /* Ảnh bao phủ mà không méo */
}

.carousel-caption {
    bottom: 15%; /* Căn chữ gần đáy */
    text-align: center;
    bottom: 15%;
    opacity: 0;
    transform: translateY(20px); 
    transition: all 0.8s ease-in-out;
}

.carousel-caption h3,
.carousel-caption p {
    color: #fff;   /* Chữ trắng */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); /* Tạo độ nổi */
}

/* Khi slide đang chuyển ảnh, text hiện dần */
.carousel-inner .item.active .carousel-caption {
    opacity: 1;
    transform: translateY(0);
}

.featured {
  padding: 50px 0; /* spacing around section */
  text-align: center;
}

.featured-title {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 30px; /* space between title and grid */
  position: relative;
  color: black;
  text-align: left;
  z-index: 1px;
  padding-left: 20px;
  top: 50px;
}

.featured-grid {
  display: flex;
  flex-wrap: wrap;
  height: 350px;
  gap: 20px;
  justify-content: space-between;
  align-items: stretch;
  background-color: white;
}

.featured-item {
  background-color: #fff;
  width: 300px;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: -10px;
  border-radius: 15px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.featured-item h3 {
  display: -webkit-box;
  -webkit-line-clamp: 2;      /* Show max 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.8em;
  font-size: 20px;
  font-weight: bold;
}

.featured-item:hover {
  transform: translateY(-5px);
}

.featured-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.buy-btn {
    font-weight: bold;
    padding: 20px;
    width: 150px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: dodgerblue;
    color: aliceblue;
    font-size: larger;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.buy-btn:hover {
    background-color: rgb(69, 162, 255);
    border: 2px solid rgb(211, 211, 211);
}

.buy-btn:active {
    background-color: rgb(0, 128, 255);
}

.footer-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: crimson;
  color: white;
  position: relative;
  top: 140px;
}

.footer-item {
  margin: 10px;
  font-size: 14px;
}

.footer-item iframe {
  /* width: 60rem;
  height: 40rem;
  object-fit: cover;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  position: absolute;
  margin-top: 20px;
  margin-right: 20px;
}

.footer-item a {
  color: rgb(242, 255, 0);
  transition: 0.2s ease-in-out;
  font-size: 14px;
}

.footer-item a:hover {
  color: black;
}

.slideshow {
  position: relative;
  top: 100px;
}
