body {
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    position: relative;
    margin-left: 280px;
    width: 900px;
    height: 250px;
}

.item-grid {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
    /* height: 400px; */
}

.item-container {
    background-color: rgb(255, 255, 255);
    width: 300px;
    padding: 40px;
    margin: 20px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
    align-items: center;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.item-container:hover {
    transform: translateY(-5px);
}

.item-container h3 {
    display: -webkit-box;
    -webkit-line-clamp: 2;      /* Show max 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 2.8em;
}

.item-container img {
    cursor: pointer;
    position: relative;
    left: -15px;
    padding-top: 20px;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.buy-btn {
    font-weight: bold;
    padding: 20px;
    width: 150px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: dodgerblue;
    color: aliceblue;
    font-size: larger;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.buy-btn:hover {
    background-color: rgb(69, 162, 255);
    border: 2px solid rgb(211, 211, 211);
}

.buy-btn:active {
    background-color: rgb(0, 128, 255);
}

.back-btn button {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(39, 39, 39);
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: large;
    justify-content: center;
    padding: 20px;
    margin: 40px;
    border: 2px transparent;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}

.back-btn button a {
    color: white;
    text-decoration: none;
}

.back-btn button:hover {
    border: 2px solid goldenrod;
}

.back-btn button:active {
    background-color: rgb(83, 83, 83);
}

.footer-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: crimson;
  color: white;
  position: relative;
  /* top: 250px; */
  bottom: 0;
}

.footer-item {
  margin: 10px;
  text-align: left;
  font-size: 14px;
}

.footer-item iframe {
  /* width: 30rem;
  height: 10rem;
  object-fit: cover;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  position: absolute;
  margin-top: 20px;
  margin-right: 20px;
}

.footer-item a {
  color: rgb(242, 255, 0);
  transition: 0.2s ease-in-out;
}

.footer-item a:hover {
  color: black;
}



