body {
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 70px;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 390px;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: rgb(251, 207, 76);
    box-sizing: border-box;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 15px;
    width: 1040px;
    height: 470px;
    padding: 10px;
    position: fixed;
    top: 140px;
}

.feedback-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feedback-item input {
    height: 50px;
    width: 1000px;
    border: none;
    box-sizing: border-box;
    border-radius: 15px;
    cursor: text;
    padding-left: 15px;
}

.feedback-item input:hover {
    border-bottom: 2px solid rgb(26, 56, 251);
}

.feedback-item input:active {
    border: none;
}

/* .feedback-item input::placeholder {
    padding-left: 15px;
    
} */

.box button {
    display: block;     /* Ensure they stack vertically */
    margin-top: 10px;   /* Add spacing from previous element */
    border: none;
    border-radius: 30px;
    width: 1000px;
    background-color: rgb(26, 56, 251);
    color: white;
    transition: 0.2s ease-in-out;
    margin-left: 10px;
}

.box button p{
    text-align: center;
    font-weight: bold;
}

.box button:hover {
    color: rgb(26, 56, 251);
    background-color: white;
    border: 2px solid rgb(26, 56, 251);
}

.box button:active {
    color: rgb(26, 56, 251);
    background-color: rgb(208, 208, 208);
    border: 2px solid rgb(26, 56, 251);
}

.back-btn button {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(39, 39, 39);
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: large;
    justify-content: center;
    padding: 20px;
    margin: 40px;
    border: 2px transparent;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}

.back-btn button a {
    color: white;
    text-decoration: none;
}

.back-btn button:hover {
    border: 2px solid goldenrod;
}

.back-btn button:active {
    background-color: rgb(83, 83, 83);
}